[data.user]
    name = "{{- (onepasswordItemFields "56ycevam5spblkuim36oioaadi").fullname.value }}"
    email = "{{- (onepasswordItemFields "56ycevam5spblkuim36oioaadi").email.value }}"
    keyname = "{{- (onepasswordItemFields "56ycevam5spblkuim36oioaadi").personal_keyname.value }}"
{{ if eq .computer "work" }}
  [data.company]
    name = "{{- (onepasswordItemFields "56ycevam5spblkuim36oioaadi").company.value | lower }}"
    email = "{{- (onepasswordItemFields "56ycevam5spblkuim36oioaadi").company_email.value }}"
    keyname = "{{- (onepasswordItemFields "56ycevam5spblkuim36oioaadi").company_keyname.value }}"
{{- end }}